@use './mixins.scss' as m;
@use './variables' as v;

body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 100vh;
}

.toolbar {
  @include m.responsiveMargin(/*usePadding=*/ true);

  & {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: color-mix(in srgb, var(--background) 75%, transparent);
    width: 100%;
    height: v.$toolbar-height;

    a {
      border: 0;
    }
  }
}

.site-title {
  margin: 0;
  font-size: v.$font-size-base;
}

.menu {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  font-size: v.$font-size-base;
  list-style: none;
}

.main {
  @include m.responsiveMargin(/*usePadding=*/ true);

  & {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: v.$max-content-width;
  }
}

.posted-on,
.time {
  font-size: v.$small-font-size;
}

// Entry list
.entries {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2em;

  .excerpt {
    margin: 0;
  }
}

.entry-header {
  margin-bottom: 24px;
}

.footer {
  @include m.responsiveMargin(/*usePadding=*/ true);

  & {
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-background);
    height: v.$footer-height;
    color: var(--footer-font-color);
    font-size: v.$small-font-size;
  }
}
