@use './variables' as v;
@use './mixins' as m;

@import './theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: var(--background);
  color: var(--font-color);
  font-size: v.$default-font-size;
  line-height: 1.2;
  font-family: v.$font-family-sans-serif;
}

a {
  transition: text-decoration 0.15s;
  color: inherit;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: var(--link-color);
  }
}

@import './layout';
